
.heart-btn{
    width: 8em;
    height: 2.5em;
    position: relative;
    font-size:1.2em

}

.like{
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    letter-spacing: 1px;

}

.heart-btn button::before,.heart-btn button::after{
    content: '';
    position: absolute;
    top:0;
    width: 50%;
    height: 100%;
    background: #050505;
    z-index: 0;
    transition: 0.4s;
}

.heart-btn button::before{
    left:0;
    border-radius: 2em 0 0 2em;
}
.heart-btn button::after{
    right: 0;
    border-radius: 0 2em 2em 0;
}

.heart-btn span{
    position: absolute;
    z-index: 1;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

input[type="checkbox"]{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.heart-btn {

    float: right;



}

input[type="checkbox"]:checked + button::before{
    transform: rotate(45deg) translate(1em,-1.05em);
    animation: glow 0.6s ease-in 0.4s forwards;
}

input[type="checkbox"]:checked + button::after{
    transform: rotate(-45deg) translate(-1em,-1.05em);
    animation: glow 0.6s ease-in 0.4s forwards;
}

input[type="checkbox"]:checked + button span{
    opacity: 0;
}
@keyframes glow {
    100% {
        background: #db291d;
    }

}
