<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{/admin/layout/layout}">

    <th:block layout:fragment="admin-content">
        <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">사용자 관리</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">MACHIMO USER LIST</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info">
                        <thead>
                            <tr>
                                <th scope="col">회원번호</th>
                                <th scope="col">ID</th>
                                <th scope="col">닉네임</th>
                                <th scope="col">이메일</th>
                                <th scope="col">적립금</th>
                                <th scope="col">가입일</th>
                                <th scope="col">회원권한</th>
                                <th scope="col">신고횟수</th>
                                <th scope="col">신고관리</th>
                                <th scope="col">회원탈퇴</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user: ${adminList}" th:if="${user != null}">
                                <td th:text="${user.userId}"></td>
                                <td>
    <!--                                <a class="move_link" th:data-id="${user.userId}"><span th:text="${user.uId}"></span></a>-->
                                    <a class="move_link" th:data-id="${user.userId}">
                                        <span th:text="${user.uId}"></span>
                                    </a>
                                </td>
                                <td th:text="${user.uNickname}"></td>
                                <td th:text="${user.uEmail}"></td>
                                <td th:text="${user.uPoint}"></td>
                                <td th:text="${user.uCreatedAt}"></td>
                                <td>
    <!--                                            <a th:href="@{|/admin/adminModify/${user.user_id}}">회원권한</a>-->
                                   <span th:if="${user.uRole == 0}">USER</span>
                                   <span th:if="${user.uRole == 1}">ADMIN</span>
                                   <button type="submit" class="confirmAdmin" th:data-userId="${user.userId}" th:data-uId="${user.uId}">
                                       <span th:text="권한부여"></span>
                                   </button>
<!--                                       <a th:href="@{|/admin/adminModify/${user.userId}}">권한부여</a>-->
                                </td>
                                <td th:text="${user.reportCount}"></td>
                                <td>
                                    <!-- 신고 삭제 버튼 -->
                                    <form action="/admin/removeReport" method="post">
                                        <input type="hidden" name="reportCode" value="{reportCode}">
                                        <input type="hidden" name="userId" value="${userId}">
                                        <input type="hidden" name="productId" value="${productId}">
                                        <button type="submit">신고 삭제</button>
                                    </form>
                                    <!-- 회원 차단 버튼 -->
                                    <form action="/admin/blockUser" method="post">
                                        <input type="hidden" name="userId" value="${userId}">
                                        <input type="hidden" name="productId" value="${productId}">
                                        <button type="submit">회원 차단</button>
                                    </form>
                                </td>
                                <td>
                                    <button type="submit">
                                        <a th:href="@{|/admin/adminDelete/${user.userId}}">회원탈퇴</a>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row justify-content-center py-5">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                            showing <span th:text="${pageMaker.getCri().getPageNum()}"></span> to <span th:text="${pageMaker.getCri().getAmount()}"></span> of <span th:text="${pageMaker.getTotal()}"></span> entries
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination">
                                <li th:if="${pageMaker.prev}" class="paginate_button page-link" id="dataTable_previous">
                                    <a th:href="@{'/page/'+${pageMaker.startPage -1}}" aria-controls="dataTable" data-dt-idx="0" tabindex="0">
                                        Previous
                                    </a>
                                </li>
                                <li class="paginate_button page-link" th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                                    <a th:href="${num}" th:text="${num}">
                                    </a>
                                </li>
                                <li th:if="${pageMaker.next}" class="paginate_button page-item next page-link" id="dataTable_next">
                                    <a th:href="@{${pageMaker.endPage + 1}}" th:text="'Next'" aria-controls="dataTable" data-dt-idx="7" tabindex="0">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>

<!--            <form th:method="get" id="actionForm" th:action="@{/admin/adminList}">-->
<!--            actionForm.att에서 list or view로 submit해서 action 삭제-->
            <form th:method="get" id="actionForm">
                <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">
                <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
            </form>
        </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var actionForm = $("#actionForm");
        /////////////////페이지번호 처리/////////////////
        $(".paginate_button a").on('click', function (e){
            // 기본 동작 막음: 페이지 링크를 통해서 이동
            e.preventDefault();
            console.log("click~!");
            // 게시글 클릭후 뒤로가기 누를때 $userId 계속 누적되는거 방지
            var bno = actionForm.find("input[name='userId']").val();
            if(bno !== ''){
                actionForm.find("input[name='userId']").remove();
            }
            console.log("@# href ===>"+$(this).attr("href"));
            actionForm.find("input[name='pageNum']").val($(this).attr("href"));
            // 게시글 클릭후 뒤로가기 누를때 view 찾아가는거 방지
            actionForm.attr("action","adminList").submit();
        });

        // /////////////////게시글 처리/////////////////
        $(".move_link").on("click", function (e){
            e.preventDefault();
            var userId = $(this).attr("data-id")
            console.log("@# href ===>"+$(this).attr("href"))
            // 게시글 클릭후 뒤로가기 누를때 $userId 계속 누적되는거 방지
            var bno = actionForm.find("input[name='userId']").val();
            if(bno !== ''){
                actionForm.find("input[name='userId']").remove();
            }
            actionForm.append("<input type='hidden' name='userId' value='"+userId+"'>");
            actionForm.attr("action","userView").submit();
        });

        //관리자권한부여//
        $(".confirmAdmin").on("click", function (e){
            e.preventDefault();
            var userId = $(this).attr("data-id")
            var uId = $(this).attr("data-uId")
            console.log("@# uId ====>"+ uId)
            var chk = confirm(uId + ' 사용자에게 관리자 권한을 부여하시겠습니까?');
            if(chk){
                $.ajax({
                    url:'/admin/adminModify/',
                    method:'POST',
                    data: JSON.stringify({
                        userId:userId
                    }),
                    success: function(response) {
                        alert("권한부여 완료");
                        location.href = "/admin/adminList"; // 성공한 경우 adminList 페이지로 이동
                    },
                    error: function(xhr, status, error) {
                        alert("에러발생:"+error);
                        location.href = "/admin/adminList"; // 실패한 경우 adminList 페이지로 이동
                    }
                });
            } else {
                alert("권한부여 취소")
                location.href = "/admin/adminList";
            }
        });

        window.onpageshow = function (event){
            if(event.persisted || (window.performance && window.performance.navigation.type==2)){
                location.reload();
            }
        }

    </script>
    </th:block>
</html>



