<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>boardView</title>
  <!--header-->
  <div th:replace="fragments/header.html :: fragment-header"></div>
</head>
<body>
  <div class="container p-5 mb-4">
    <div class="row py-3 border-bottom m-3">
      <h2 class="m-0 fw-bold text-secondary">공지사항</h2>
    </div>
    <div class="row pt-4 m-3">
      <div class="col">
        <h3 class="display-7 fw-bold" th:text="${boardView.b_title}"></h3>
      </div>
    </div>
    <div class="row border-bottom pb-3 m-3">
      <div class="col">
        <h5 class="fw-medium fs-5" th:text="${boardView.b_writer}"></h5>
        <h5 class="fs-6" th:text="${#dates.format(boardView.b_date, 'YYYY-MM-DD')}"></h5>
      </div>
    </div>
    <div class="row">
      <div class="col fs-5 m-4">
        <p th:text="${boardView.b_content}"></p>
      </div>
    </div>
    <div class="d-flex gap-2 justify-content-center py-5">
      <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
        <a th:href="@{/admin/boardList}">목록보기</a>
      </button>
    </div>
  </div>
  <!--footer-->
  <div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
</html>
