<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
  <style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
    .subReply {
      padding-left: 50px;
    }
  </style>
  <script>
    var id = getQueryStringObject().reviewId;
    function getQueryStringObject() {
      var a = window.location.search.substr(1).split('&');
      if (a == "") return {};
      var b = {};
      for (var i = 0; i < a.length; ++i) {
        var p = a[i].split('=', 2);
        if (p.length == 1)
          b[p[0]] = "";
        else
          b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
      }
      return b;
    }
  </script>

  <title>리뷰 내용</title>
  <link rel="stylesheet" th:href="@{/css/board.css}" />
</head>

<body>
<div class="container">
<h1>리뷰 내용</h1>
<table class="board_detail">
  <form method="post" action="modify_view">
    <input type="hidden" name="pageNum" th:value="${pageMaker.pageNum}">
    <input type="hidden" name="amount" th:value="${pageMaker.amount}">
    <input type="hidden" name="reviewId" th:value="${pageMaker.reviewId}">
  <tr>
    <td>리뷰 ID:</td>
    <td><span th:text="${content_view.reviewId}" ></span></td>
  </tr>
  <tr>
    <td>상품 ID:</td>
    <td><span th:text="${content_view.productId}"></span></td>
  </tr>
  <tr>
    <td>작성일:</td>
    <td><span th:text="${content_view.reviewDate}"></span></td>
  </tr>
  <tr>
    <td>조회수:</td>
    <td><span th:text="${content_view.reviewHit}"></span></td>
<!--    <td><span th:text="${hit}"></span></td>-->
  </tr>
  <tr>
    <td>작성자:</td>
    <td><span th:text="${content_view.reviewWritter}"></span></td>
  </tr>
  <tr>
    <td>제목:</td>
    <td><span th:text="${content_view.reviewTitle}"></span></td>
  </tr>
  <tr>
    <td>별점:</td>
    <td><span th:text="${content_view.reviewStar}"></span></td>
  </tr>
<!--  <tr>-->
<!--    <td>이미지:</td>-->
<!--    <td><span th:text="${content_view.reviewImg}"></span></td>-->
<!--  </tr>-->
<!--    <tr>-->
<!--      <td>이미지:</td>-->
<!--&lt;!&ndash;      <td><img th:src="${content_view.reviewImg}" alt="Review Image" /></td>&ndash;&gt;-->
<!--      <td><img th:src="'./display?fileName='+${content_view.reviewImg}"></td>-->
<!--    </tr>-->

    <tr>
    <td>내용:</td>
    <td><span th:text="${content_view.reviewContent}"></span></td>
  </tr>

  <tr>
    <td colspan="3">
      <input class="btn" type="submit" value="수정" formaction="modify_view" style="width: 100px; height: 30px;">
      <input class="btn" type="submit" value="목록보기" formaction="list" style="width: 100px; height: 30px;">
      <input class="btn" type="submit" value="삭제" formaction="delete" style="width: 100px; height: 30px;">
<!--      <input hidden="hidden" th:value="${content_view.getId()}" id="id">-->
    </td>
  </tr>
  </form>

    <tr>
      <!-- 댓글 -->
<!--      <div class="container">-->
<!--        <label for="content">comment</label>-->
<!--        <form th:action="@{/comment/insert}" th:object="${comment}" method="post" name="commentInsertForm">-->
<!--          <div class="input-group">-->
<!--            <input type="hidden" id="bno" th:value="${content_view.reviewId}" />-->
<!--            <input type="text" class="form-control" id="content" name="content" placeholder="내용을 입력하세요." />-->
<!--            <span class="input-group-btn">-->
<!--                <button class="btn btn-default" type="submit" name="commentInsertBtn">등록</button>-->
<!--            </span>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->

      <!--  댓글  -->
      <div class="container">
        <label for="content">comment</label>
        <form name="commentInsertForm">
          <div class="input-group">
            <input type="hidden" name="bno" th:value="${content_view.reviewId}"/>
            <input type="text" class="form-control" id="content" name="content" placeholder="내용을 입력하세요.">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button" name="commentInsertBtn">등록</button>
               </span>
          </div>
        </form>
      </div>

<!--      <div class="container">-->
<!--        <div class="commentList"></div>-->
<!--      </div>-->
<!--</div>-->

<!--      <div class="container">-->
<!--        <div class="commentList">-->
<!--          &lt;!&ndash; 댓글 목록 출력 &ndash;&gt;-->
<!--          <div th:each="comment : ${comment}">-->
<!--            <p th:text="${comment.content}"></p>-->
<!--            &lt;!&ndash; 댓글 수정 버튼 &ndash;&gt;-->
<!--            <button class="btn btn-primary" th:data-cno="${comment.cno}" onclick="showUpdateForm(this)">수정</button>-->
<!--            &lt;!&ndash; 댓글 삭제 버튼 &ndash;&gt;-->
<!--            <button class="btn btn-danger" th:data-cno="${comment.cno}" onclick="deleteComment(this)">삭제</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </tr>
</table>
</div>
<script>
  var bno = '${content_view.reviewId}'; //게시글 번호


  $('[name=commentInsertBtn]').click(function(){ //댓글 등록 버튼 클릭시
    var insertData = $('[name=commentInsertForm]').serialize(); //commentInsertForm의 내용을 가져옴
    commentInsert(insertData); //Insert 함수호출(아래)
  });



  //댓글 목록
  function commentList(){
    $.ajax({
      url : '/comment/list',
      type : 'get',
      data : {'bno':bno},
      success : function(data){
        var a ='';
        $.each(data, function(key, value){
          a += '<div class="commentArea" style="border-bottom:1px solid darkgray; margin-bottom: 15px;">';
          a += '<div class="commentInfo'+value.cno+'">'+'댓글번호 : '+value.cno+' / 작성자 : '+value.writer;
          a += '<a onclick="commentUpdate('+value.cno+',\''+value.content+'\');"> 수정 </a>';
          a += '<a onclick="commentDelete('+value.cno+');"> 삭제 </a> </div>';
          a += '<div class="commentContent'+value.cno+'"> <p> 내용 : '+value.content +'</p>';
          a += '</div></div>';
        });

        $(".commentList").html(a);
      }
    });
  }

  //댓글 등록
  function commentInsert(insertData){
    $.ajax({
      url : '/comment/insert',
      type : 'post',
      data : insertData,
      success : function(data){
        if(data == 1) {
          commentList(); //댓글 작성 후 댓글 목록 reload
          $('[name=content]').val('');
        }
      }
    });
  }

  //댓글 수정 - 댓글 내용 출력을 input 폼으로 변경
  function commentUpdate(cno, content){
    var a ='';

    a += '<div class="input-group">';
    a += '<input type="text" class="form-control" name="content_'+cno+'" value="'+content+'"/>';
    a += '<span class="input-group-btn"><button class="btn btn-default" type="button" onclick="commentUpdateProc('+cno+');">수정</button> </span>';
    a += '</div>';

    $('.commentContent'+cno).html(a);

  }

  //댓글 수정
  function commentUpdateProc(cno){
    var updateContent = $('[name=content_'+cno+']').val();

    $.ajax({
      url : '/comment/update',
      type : 'post',
      data : {'content' : updateContent, 'cno' : cno},
      success : function(data){
        if(data == 1) commentList(bno); //댓글 수정후 목록 출력
      }
    });
  }

  //댓글 삭제
  function commentDelete(cno){
    $.ajax({
      url : '/comment/delete/'+cno,
      type : 'post',
      success : function(data){
        if(data == 1) commentList(bno); //댓글 삭제후 목록 출력
      }
    });
  }

  $(document).ready(function(){
    commentList(); //페이지 로딩시 댓글 목록 출력
  });


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
