<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>리뷰 내용</title>
  <link rel="stylesheet" th:href="@{/css/board.css}" />
</head>

<body>
<div class="container">
<h1>리뷰 내용</h1>
<table class="board_detail">
  <form action="modify_view">
  <tr>
    <td>리뷰 ID:</td>
    <td><span th:text="${content_view.reviewId}"></span></td>
  </tr>
  <tr>
    <td>상품 ID:</td>
    <td><span th:text="${content_view.productsId}"></span></td>
  </tr>
  <tr>
    <td>작성일:</td>
    <td><span th:text="${content_view.reviewDate}"></span></td>
  </tr>
  <tr>
    <td>조회수:</td>
    <td><span th:text="${content_view.reviewHit}"></span></td>
  </tr>
  <tr>
    <td>작성자:</td>
    <td><span th:text="${content_view.reviewWritter}"></span></td>
  </tr>
  <tr>
    <td>제목:</td>
    <td><span th:text="${content_view.reviewTitle}"></span></td>
  </tr>
  <tr>
    <td>별점:</td>
    <td><span th:text="${content_view.reviewStar}"></span></td>
  </tr>
  <tr>
    <td>이미지:</td>
    <td><span th:text="${content_view.reviewImg}"></span></td>
  </tr>
  <tr>
    <td>내용:</td>
    <td><span th:text="${content_view.reviewContent}"></span></td>
  </tr>
  <tr>
    <td colspan="3">
<!--      <input type="submit" value="수정" class="btn">-->
<!--      &nbsp;&nbsp;<a class="btn" href="modify">수정</a>-->
      &nbsp;&nbsp;<a class="btn" th:href="'modify_view?reviewId='+${content_view.reviewId}">수정</a>
      &nbsp;&nbsp;<a class="btn" href="list">목록보기</a>
<!--      jsp에서는 되는데 타임리프에선 안됨-->
<!--      &nbsp;&nbsp;<a href="delete?reviewId=${content_view.reviewId}">삭제</a>-->
      &nbsp;&nbsp;<a class="btn" th:href="'delete?reviewId='+${content_view.reviewId}">삭제</a>
<!--      타임리프 문법-->
<!--      @{/board/view(id = ${board.id})}-->
    </td>
  </tr>
  </form>
</table>
</div>
</body>
</html>