<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project_machimo.review.dao.AttachMapper">


    <delete id="deleteFile">
        delete from review_image where review_id = #{reviewId}
    </delete>


    <select id="getAttachList" parameterType="int" resultType="com.example.project_machimo.review.dto.AttachImageVO">
        select * from review_image where review_id = #{reviewId}
    </select>
    <select id="getReviewId" resultType="java.lang.Integer">
        select count(*)+1 from review
    </select>
</mapper>