<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="admin-script">
        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="/js/demo/chart-pie-demo.js"></script>

        <!--        &lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;-->
<!--        <script th:src="@{/static/vendor/jquery/jquery.js}"></script>-->
<!--        <script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.js}"></script>-->

<!--        &lt;!&ndash; Core plugin JavaScript&ndash;&gt;-->
<!--        <script th:src="@{/static/vendor/jquery-easing/jquery.easing.js}"></script>-->

<!--        &lt;!&ndash; Custom scripts for all pages&ndash;&gt;-->
<!--        <script th:src="@{/static/js/sb-admin-2.js/sb-admin-2.min.js}"></script>-->

<!--        &lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--        <script th:src="@{/static/vendor/chart.js/Chart.js}"></script>-->

<!--        &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--        <script th:src="@{/static/js/demo/chart-area-demo.js}"></script>-->
<!--        <script th:src="@{/static/js/demo/chart-pie-demo.js}"></script>-->


<!--&lt;!&ndash;        &lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;        <script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash; Page level custom scripts &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <script th:src="@{/static/js/demo/chart-area-demo.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;        <script th:src="@{/static/js/demo/chart-pie-demo.js}"></script>&ndash;&gt;-->
    </th:block>
</html>