<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script>

    </script>
    <title>Title</title>

</head>
<script>

</script>
<style>
    /*.test1{*/
    /*        background-color: orange;*/
    /*  width: 20px;     !* 원의 너비를 50px로 고정합니다. *!*/
    /*  height: 20px;    !* 원의 높이를 50px로 고정합니다. *!*/
    /*  border-radius: 50%;  !* 원 모양을 만들기 위해 너비/높이의 50%로 설정합니다. *!*/
    /*  justify-content: center; !* 가로 방향으로 아이템을 중앙에 배치합니다. *!*/
    /*  align-items: center; !* 세로 방향으로 아이템을 중앙에 배치합니다. *!*/
    /*  font-size: 12px; !* 원 안의 글자 크기를 설정합니다. *!*/
    /*  display: inline-flex;*/
    /*    }*/
    /*    .modal-body {*/
    /*        height: 250px;*/
    /*        overflow-y: auto;*/
    /*    }*/


</style>
<th:block th:fragment="headerFragment">

    <link rel="stylesheet" href="/gyuha/css/header.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
            charset="utf-8"></script>
    <!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js" charset="utf-8"></script>-->
    <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.js" charset="utf-8"></script>
    <script src="/login/login.js"></script>
    <script src="/gyuha/js/header.js"></script>
    <body>


    <!-- Dropdown - Alerts -->
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <header class="py-1 fixed">
            <div class="container">

                <div class="d-flex justify-content-end pt-1">

                    <ul class="top_list nav nav-pills">
                        <li th:if="${session.user != null && session.user.userId == 1}" class="nav-item"><a href="/admin/adminList"
                                                class="text-dark nav-link fs-8 link-underline link-underline-opacity-0">관리자페이지</a>
                        </li>
                        <li class="nav-item"><a href="/home/userBoardList"
                                                class="text-dark nav-link fs-8 link-underline link-underline-opacity-0">고객센터</a>
                        </li>

                        <li th:if="${hasSession}" class="nav-item"><a href="/mypage/mypage_page"
                                                                      class="text-dark nav-link fs-8 link-underline link-underline-opacity-0">마이페이지</a>
                        </li>
                        <li class="nav-item"><a href="/mypage/wishlist"
                                                class="text-dark nav-link fs-8 link-underline link-underline-opacity-0">관심상품</a>
                        </li>

                        <li th:if="${hasSession}" class="nav-item"><a href="#" data-bs-toggle="modal"
                                                                      data-bs-target="#exampleModal"
                                                                      class="text-dark nav-link fs-8 link-underline link-underline-opacity-0">알림
                            <span th:if="${alertResult != null && alertResult != 0}" id="alerts">

                                <span id="alNum" th:text="${alertResult > 9 ? '9+' : alertResult}"></span>
                                <input hidden="hidden" th:value="${alertResult}" id="alertRes">
                                <!--                                <span>erroer</span>-->
                            </span>
                        </a>
                        </li>
                        <li class="nav-item"><a href="/loginT/logout" th:if="${hasSession}" id="logout_btn1"
                                                class="text-dark nav-link fs-8 link-underline link-underline-opacity-0">로그아웃
                        </a>
                        </li>

                        <li class="nav-item"><a href="/loginT/login" th:unless="${hasSession}"
                                                class="text-dark nav-link fs-8 link-underline link-underline-opacity-0">로그인
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <header>
            <div class="container">
                <div class="main_inner d-flex flex-wrap justify-content-center mb-1">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto"
                       style="text-decoration: none;">
                        <img src="/img/machimoLogo_small.png" style="width: 80px;height: 40px" class="mr-4">
                        <svg class="bi me-2" width="5" height="32"></svg>
                        <span class="text-dark fs-2 fw-bold">MACHIMO</span>
                    </a>
                    <ul class="gnb_list nav nav-pills">
                        <li class="nav-item"><a href="/"
                                                class="text-dark nav-link fw-semibold fs-4 link-underline link-underline-opacity-0">HOME</a>
                        </li>
                        <li class="nav-item"><a href="/review/list"
                                                class="text-dark nav-link fw-semibold fs-4 link-underline link-underline-opacity-0">STYLE</a>
                        </li>
                        <li class="nav-item"><a href="/shop/allItemView"
                                                class="text-dark nav-link fw-semibold fs-4 link-underline link-underline-opacity-0">SHOP</a>
                        </li>
                        <li class="nav-item">
                            <form action="/search/searchList" method="get" class="d-flex" role="search" id="frm">
                                <label>
                                    <select name="searchOption" style="height: 32px" th:value="${session.searchOption}">
                                        <option value="productName"
                                                th:selected="${session.searchOption == 'productName'}">상품명
                                        </option>
                                        <option value="userNickName"
                                                th:selected="${session.searchOption == 'userNickName'}">작성자
                                        </option>
                                        <option value="productInfo"
                                                th:selected="${session.searchOption == 'productInfo'}">내용
                                        </option>
                                        <option value="proNameOrProInfo"
                                                th:selected="${session.searchOption == 'proNameOrProInfo'}">상품명+내용
                                        </option>
                                    </select>
                                </label>
                                <input type="text" id="keyword" name="keyword" th:value="${session.keyword}" />
                                <input type="hidden" name="pageNum" value="1">
                                <input type="hidden" name="amount" value="12">
                                <button id="search" type="button" style="border: none" class="bg-body-tertiary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                         class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <nav>
            <div class="container d-flex flex-wrap gab-0">
                <ul class="nav me-auto">
                    <li class="nav-item"><a href="/shop/allItemView" class="text-dark nav-link fs-6 link-underline link-underline-opacity-0">랭킹</a></li>
                    <li class="nav-item"><a href="/productEnroll/enroll_form" class="text-dark nav-link fs-6 link-underline link-underline-opacity-0">판매하기</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="modal fade  modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">알림</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="al_All">
                        <div th:each="alert : ${alList}">
                            <a class="move_alert" th:href="@{/test23(alId=${alert.alertId})}"
                               th:id="'alert'+${alert.alertId}"
                               th:text="${alert.alMessage} +'  '+${#dates.format(alert.alCreateAt, 'yyyy-MM-dd')+'   '}"
                               th:style="${alert.checkedFlag}==1 ? 'background-color: gray' : ''"></a>
                            <span id="alert">
                            <a class="fs-6" th:id="'alert'+${alert.alertId}"
                               th:style="${alert.checkedFlag}==1 ? 'background-color: gray' : ''"
                               th:attr="data-value=${alert.alertId}"
                               href="#" id="selectRemove">
                                <strong style="text-align: center"> X</strong>
                            </a>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="remove_all">전체 삭제</button>
                </div>
            </div>
        </div>
    </div>

    </body>
</th:block>
</html>
