<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>제품 정보 입력</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/js/jusoPopup.js" ></script>

</head>
<body>
<h1>제품 정보 입력</h1>

<!-- 즉시 판매 폼 -->
<h2>즉시 판매</h2>
<form action="/submit-direct-sale-product" method="post">
  <input type="hidden" name="cId" th:value="${cId}" />
  <input type="hidden" name="userId" th:value="${userId}" />

  <table>

    <tr>
      <td><label for="pName">제품명:</label></td>
      <td><input type="text" id="pName" name="pName" required /></td>
    </tr>
    <tr>
      <td><label for="pInfo">제품 정보:</label></td>
      <td><textarea id="pInfo" name="pInfo" required></textarea></td>
    </tr>
    <tr>
      <td><label for="pDirect">즉시 판매 가격:</label></td>
      <td><input type="number" id="pDirect" name="pDirect" min="0" required /></td>
    </tr>
    <tr>
      <td><label for="p_dur_auction">경매 종료일:</label></td>
      <td><input type="datetime-local" id="p_dur_auction" name="p_dur_auction" required /></td>
    </tr>
    <tr>
      <td><label for="p_b_price_auction">경매 시작 가격:</label></td>
      <td><input type="number" id="p_b_price_auction" name="p_b_price_auction" min="0" required /></td>
    </tr>
    <tr>
      <td><label for="pAccount">정산 계좌번호:</label></td>
      <td><input type="text" id="pAccount" name="pAccount" required /></td>
    </tr>
    <tr>
      <td><label for="pAddress">반송 주소:</label></td>
      <td><input type="text" id="pAddress" name="pAddress" required /></td>
    </tr>
    <tr>
      <td>주    소</td>
      <td>
        <input name="uAddrPostcode" id="uAddrPostcode" type="text" th:value="${userDto.uAddrPostcode}" size="10" readonly placeholder="우편번호"> <br>
        <input name="uAddress" id="uAddress" type="text" th:value="${userDto.uAddress}" size="40" readonly>
        <input type="button"  value="주소검색" onclick="goPopup();"> <br>
        <input name="uAddressSub" id="uAddressSub" type="text" th:value="${userDto.uAddressSub}" size="20" placeholder="상세 주소">
        <div><span class="fs-6 text-danger" th:text="${valid_uAddress}"></span> <br></div>
      </td>

    </tr>


  </table>

  <input type="submit" value="즉시 판매 제품 등록" />

</form>
</body>
</html>
