<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <form method="post" action="/loginT/login-process">
            <table width="300" border="1">
                <tr>
                    <td align="center">사용자 ID</td>
                    <td align="center">
                        <input type="text" name="u_id">
                    </td>
                </tr>
                <tr>
                    <td align="center">비밀번호</td>
                    <td align="center">
                        <input type="password" name="u_password">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="로 그 인">
                        <input type="button" value="회원가입" onclick="javascript:location.href='./register_page'">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>