<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="reg_frm" method="post" action="/loginT/auth/joinProc">
  <table border="1" align="center">
    <tr height="50">
      <td colspan="2" align="center">
        <h1>회원 가입 신청</h1>
      </td>
    </tr>
    <tr height="30">
      <td width="80">User ID</td>
      <td>
        <input name="u_id" type="text" size="20">*
      </td>
    </tr>
    <tr height="30">
      <td width="80">암    호</td>
      <td>
        <input name="u_password" type="password" size="20">*
      </td>
    </tr>
    <!-- 			<tr height="30"> -->
    <!-- 				<td width="80">암호 확인</td> -->
    <!-- 				<td> -->
    <!-- 					<input name="pwd_check" type="password" size="20">* -->
    <!-- 				</td> -->
    <!-- 			</tr> -->
    <tr height="30">
      <td width="80">이   름</td>
      <td>
        <input name="u_name" type="text" size="20">*
      </td>
    </tr>
      <tr height="30">
          <td width="80">주민번호</td>
          <td>
              <input name="u_jumin" type="text" size="20">*
          </td>
      </tr>
      <tr height="30">
          <td width="80">전화번호</td>
          <td>
              <input name="u_phone" type="text" size="20">*
          </td>
      </tr>
      <tr height="30">
          <td width="80">닉네임</td>
          <td>
              <input name="u_nickname" type="text" size="20">*
          </td>
      </tr>
    <tr height="30">
        <td width="80">E-mail</td>
        <td>
            <input name="u_email" type="text" size="30">*
        </td>
    </tr>
    <tr height="30">
        <td width="80">주    소</td>
        <td>
            <input name="u_address" type="text" size="40">
        </td>
    </tr>
    <tr height="30">
      <td width="80" colspan="2" align="center">
        <input type="submit" value="등록">
        <!-- 					<input type="button" value="등록" onclick="check_OK();"> -->
        <!-- 					<input type="reset" value="다시입력"> -->
        <!-- 					<input type="button" value="가입안함" onclick="javascript:window.location='login.jsp'"> -->
      </td>
    </tr>
  </table>
  </form>
</body>
</html>