<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    shop 페이집 입니다.
    <!-- 이미지와 상품 정보를 반복하여 표시 -->
    <div th:each="item : ${itemList}">
        <!-- 이미지 -->
        <p><span th:text="${item.i_sub_image}"></span></p>

        <!-- 닉네임 -->
        <p><h4 th:text="${item.u_nickname}"></h4></p>

        <!-- 상품 이름 -->
        <p th:text="${item.p_name}"></p>

        <!-- 가격 -->
        <!-- 0일때 경매가 1일때 즉시 가로 구분함-->
        <p>
            <span th:if="${item.p_sale_type == 0}" th:text="${item.p_b_price}"></span>
            <span th:if="${item.p_sale_type == 1}" th:text="${item.p_direct}"></span>
        </p>

    </div>
</body>
</html>
