<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="/login/jquery.min.js"></script>
    <input type="hidden" id="userEmail" th:value="${userEmail}">
</body>
</html>
<script>

    var userEmail = $("#userEmail").val();
    if(userEmail == null || userEmail==""){
        console.log("userName :"+$("#userEmail").val());
        opener.parent.location="/loginT/naverLogin_ok";
    }else{
        console.log("userName :"+$("#userEmail").val());
        opener.parent.location="/loginT/login";
    }
    window.close();
</script>