<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] [%thread] %-5level %logger{36} -
                %msg%n
            </pattern>
        </encoder>
    </appender>
        <logger name="com.example.project_machimo" level="OFF"/>
    <!-- sql문을 로그 찍기엔 불가능하여서 log back 사용 jpa는 이거 자동 지원으로 앎 mybtais는 안 됨 -->
     <logger name="com.example.project_machimo" level="OFF"/>
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="DEBUG"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="OFF"/>
    <logger name="jdbc.connection" level="OFF"/>
    <logger name="log4jdbc.log4j2" level="OFF"/>
    <root level="off">
        <appender-ref ref="console"/>
    </root>
</configuration>