<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boardWrite</title>
    <!--header-->
    <script src="/gyuha/js/header.js"></script>
    <div th:replace="fragments/header.html :: fragment-header"></div>
</head>
<body>
<div>
    <div class="container p-5 mb-4">

        <div class="row py-3 mb-5 border-bottom m-3">
            <h2 class="m-0 fw-bold text-secondary">게시물 등록</h2>
        </div>

        <form id="frm" action="/admin/boardWrite" method="post">
            <input type="hidden" name="userId" th:value="${session.user.userId}"/>

<!--            <input type="hidden" name="userId" th:value="${pageMaker.cri.boardId}"/>-->
<!--            <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">-->
<!--            <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">-->

            <div class="m-3 py-3">
                <label class="form-label fw-semibold">항목을 선택해주세요.</label>

                <div class="form-check" th:if="${session.user.userId == 1}">
                    <input class="form-check-input" type="radio" name="bCategory" value="공지" id="공지">
                    <label class="form-check-label" for="공지">
                        공지사항
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="bCategory" value="문의" id="문의" checked>
                    <label class="form-check-label" for="문의">
                        문의사항
                    </label>
                </div>

                <div id="addCheckBox" style="display: none;">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inquiryCategory" value="상품문의" id="상품문의" checked>
                        <label class="form-check-label" for="상품문의">
                            상품문의
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inquiryCategory" value="배송문의" id="배송문의">
                        <label class="form-check-label" for="배송문의">
                            배송문의
                        </label>
                    </div>
                </div>
            </div>

            <div class="m-3">
                <label for="bTitle" class="form-label fw-semibold">제목</label>
                <input name="bTitle" type="text" class="form-control" id="bTitle" placeholder="간단한 제목을 입력해주세요.">
            </div>

            <div class="m-3">
                <label for="bWriter" class="form-label fw-semibold">작성자</label>
                <input name="bWriter" th:value="${session.user.UNickname}" class="form-control" id="bWriter" readonly>
            </div>

            <div class="m-3 py-3">
                <label for="bContent" class="form-label fw-semibold">설명</label>
                <input name="bContent" type="text" class="form-control" id="bContent">
            </div>

            <div class="d-flex gap-2 justify-content-center py-5">
                <input class="btn btn-outline-secondary d-inline-flex align-items-center" type="button" onclick="fn_submit()" value="작성">
            </div>
        </form>
    </div>

    <!--footer-->
    <div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript">
    function fn_submit(){
        console.log("boardWrite start")
        // form 요소 자체
        var formData = $("#frm").serialize();

        $.ajax({
            url: "/home/boardWrite",
            type: 'POST',
            data: formData,
            success: function (response){
                console.log(response);
                if(response == "admin"){
                    location.href="/admin/boardList";
                }else{
                    location.href="/home/userQnAList";
                }
                alert("게시글 등록이 완료되었습니다.");
            },
            error: function (xhr, status, error){
                alert("에러 발생: "+ error);
            }
        });
    }

    // bCategory 값에 따라 inquiryCategory의 활성화 여부를 설정
    const bCategoryRadios = document.getElementsByName("bCategory");
    const addCheckBox = document.getElementById("addCheckBox");
    function toggleInquiryCategory() {
        if (this.value === "문의") {
            addCheckBox.style.display = "block";
        } else {
            addCheckBox.style.display = "none";
        }
    }
    // bCategory 라디오 버튼들에 이벤트 리스너를 추가
    bCategoryRadios.forEach((radio) => {
        radio.addEventListener("change", toggleInquiryCategory);
    });
</script>