<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>boardView</title>
  <!--header-->
  <th:block th:replace="fragments/header.html :: fragment-header"></th:block>
</head>
<body>
<!--관리자 or 로그인한 유저 활성화-->
<!--  <div class="container p-5 mb-4" th:if="${session.user.uRole == 1 || session.user.userId != null }">-->
<!--  <div class="container p-5 mb-4" th:if="${session.user.uRole == 1 || session.user.userId != null }">-->

    <div class="row py-3 border-bottom m-3">
      <h2 class="m-0 fw-bold text-secondary" th:if="${boardView.bCategory == '공지'}" th:text="'['+ ${boardView.bCategory} +']'"></h2>
      <h2 class="m-0 fw-bold text-secondary" th:if="${boardView.bCategory == '문의'}" th:text="'['+ ${boardView.inquiryCategory} +']'"></h2>
    </div>
    <div class="row pt-2 m-3">
      <div class="col">
        <h4 class="display-7 fw-bold" th:text="'제목: '+ ${boardView.bTitle}"></h4>
      </div>
    </div>
    <div class="row border-bottom pb-3 m-3">
      <div class="col">
        <h4 class="fs-6" th:text="'작성자: '+ ${boardView.bWriter}"></h4>
        <h4 class="fs-6" th:text="'작성일자: ' + ${#dates.format(boardView.bDate, 'YYYY-MM-DD')}"></h4>
      </div>
    </div>
    <div class="row">
      <div class="col fs-5 m-4 text-break" style="height: 15rem">
        <p th:text="${boardView.bContent}"></p>
      </div>
    </div>
    <div class="d-flex gap-2 justify-content-center py-5">
      <button class="btn btn btn-outline-primary d-inline-flex align-items-center" type="button">
        <a class="text-decoration-none text-primary" href="/home/userBoardList">목록보기</a>
      </button>
      <!--게시글 작성자 or 관리자에게만 활성화-->
<!--      <div th:if="${session.user.userId == loginUser || session.user.uRole==1}">-->
<!--        <button class="btn btn btn-outline-primary d-inline-flex align-items-center" type="button" >-->
<!--          <a class="text-decoration-none" th:href="@{/home/boardModifyView/{boardId}(boardId=${boardView.boardId})}">수정</a>-->
<!--        </button>-->
<!--        <button class="btn btn-outline-primary" type="button" th:onclick="'boardDelete(\''+${boardView.boardId}+'\')'">-->
<!--          삭제-->
<!--        </button>-->
<!--      </div>-->
    </div>

          <!--  댓글  -->
          <div class="container">
            <label for="content">comment</label>
            <form name="commentInsertForm">
              <div class="input-group">
                <input type="hidden" name="bno" th:value="${boardView.boardId}"/>
                <input type="text" class="form-control" id="content" name="content" placeholder="내용을 입력하세요.">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" name="commentInsertBtn">등록</button>
               </span>
              </div>
            </form>
          </div>

          <div class="container">
            <div class="commentList">
              <!-- 댓글 목록 출력 -->
              <div th:each="comment : ${comment}">
                <p th:text="${comment.content}"></p>
                <!-- 댓글 수정 버튼 -->
                <button class="btn btn-primary" th:data-cno="${comment.cno}" th:onclick="showUpdateForm(this)">수정</button>
                <!-- 댓글 삭제 버튼 -->
                <button class="btn btn-danger" th:data-cno="${comment.cno}" th:onclick="deleteComment(this)">삭제</button>
              </div>
            </div>
          </div>
  <!--footer-->
  <th:block th:replace="fragments/footer.html :: fragment-footer"></th:block>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript">
  function boardDelete(boardId){
    console.log("@# boardDelete")

    var chk = confirm("정말 삭제하시겠습니까?");
    if(chk){
      $.ajax({
        url:'/admin/boardDelete',
        method: 'POST',
        data: {
          'boardId':boardId
        },
        success: function (response){
          if(response === "deleteOk"){
            alert("게시물이 삭제되었습니다.")
            location.href="/admin/boardList";
          }
          else{
            alert("게시물 삭제에 실패했습니다.")
          }
        },
        error: function (xhr, status, error){
          alert("에러 발생: "+error);
        }
      });
    }
  }
  </script>
  <script>
  var bno = id;

  $('[name=commentInsertBtn]').click(function(){ //댓글 등록 버튼 클릭시
      var insertData = $('[name=commentInsertForm]').serialize(); //commentInsertForm의 내용을 가져옴
      commentInsert(insertData); //Insert 함수호출(아래)
  });


  //댓글 목록
  function commentList(){
    $.ajax({
      url : '/comment/list',
      type : 'get',
      data : {'bno':bno},
      // data : bno,
      success : function(data){
        var a ='';
        $.each(data, function(key, value){
          a += '<div class="commentArea" style="border-bottom:1px solid darkgray; margin-bottom: 15px;">';
          // a += '<div class="commentInfo'+value.cno+'">'+'댓글번호 : '+value.cno+' / 작성자 : '+value.writer;
          a += '<div class="commentInfo'+value.cno+'">'+' 작성자 : '+value.writer;
          a += '<a onclick="commentUpdate('+value.cno+',\''+value.content+'\');"> 수정 </a>';
          a += '<a onclick="commentDelete('+value.cno+');"> 삭제 </a> </div>';
          a += '<div class="commentContent'+value.cno+'"> <p> 내용 : '+value.content +'</p>';
          a += '</div></div>';
        });

        $(".commentList").html(a);
      }
    });
  }


  //댓글 등록
  function commentInsert(insertData){
    $.ajax({
      url : '/comment/insert',
      type : 'post',
      data : insertData,
      success : function(data){
        if(data == 1) {
          // commentList(); //댓글 작성 후 댓글 목록 reload
          commentList(bno); //댓글 작성 후 댓글 목록 reload // 인서트후에 새로고침 없이도 업데이트됨
          $('[name=content]').val('');
        }
      }
    });
  }

  //댓글 수정 - 댓글 내용 출력을 input 폼으로 변경
  function commentUpdate(cno, content){
    var a ='';

    a += '<div class="input-group">';
    a += '<input type="text" class="form-control" name="content_'+cno+'" value="'+content+'"/>';
    a += '<span class="input-group-btn"><button class="btn btn-default" type="button" onclick="commentUpdateProc('+cno+');">수정</button> </span>';
    a += '</div>';

    $('.commentContent'+cno).html(a);

  }

  //댓글 수정
  function commentUpdateProc(cno){
    var updateContent = $('[name=content_'+cno+']').val();

    $.ajax({
      url : '/comment/update',
      type : 'post',
      data : {'content' : updateContent, 'cno' : cno},
      success : function(data){
        if(data == 1) commentList(bno); //댓글 수정후 목록 출력
      }
    });
  }

  //댓글 삭제
  function commentDelete(cno){
    $.ajax({
      url : '/comment/delete/'+cno,
      type : 'post',
      success : function(data){
        if(data == 1) commentList(bno); //댓글 삭제후 목록 출력
      }
    });
  }

  $(document).ready(function(){
    // commentList(); //페이지 로딩시 댓글 목록 출력
    commentList(bno); //페이지 로딩시 댓글 목록 출력

  });
</script>
