<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boardWrite</title>
    <!--header-->
    <div th:replace="fragments/header.html :: fragment-header"></div>
</head>
<body>

    <div class="container p-5 mb-4">

        <div class="row py-3 mb-5 border-bottom m-3">
            <h2 class="m-0 fw-bold text-secondary">게시글 수정</h2>
        </div>

        <form id="frm" method="post" action="/home/boardModify">
            <input type="hidden" name="userId" th:value="${session.user.userId}"/>

            <label class="form-label fw-semibold">항목을 선택해주세요.</label>

        <div class="m-3 py-3">
            <!--게시글 수정할때 admin일때만 공지 활성화-->
            <div class="form-check" th:if="${session.user.userId == 1}">
                <input class="form-check-input" type="radio" name="bCategory" value="공지" id="공지" checked>
                <label class="form-check-label" for="공지">
                    공지사항
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="bCategory" value="문의" id="문의">
                <label class="form-check-label" for="문의">
                    문의사항
                </label>
            </div>

            <div id="addCheckBox">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inquiryCategory" value="상품문의" id="상품문의" checked>
                    <label class="form-check-label" for="상품문의">
                        상품문의
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inquiryCategory" value="배송문의" id="배송문의">
                    <label class="form-check-label" for="배송문의">
                        배송문의
                    </label>
                </div>
            </div>
        </div>

            <div class="m-3">
                <label for="bTitle" class="form-label fw-semibold">제목</label>
                <input name="bTitle" type="text" th:value="${boardView.bTitle}" class="form-control" id="bTitle" placeholder="간단한 제목을 입력해주세요.">
            </div>

            <div class="m-3">
                <!--ession값으로 uNickname이 작성자로 고정-->
                <label for="bWriter" class="form-label fw-semibold">작성자</label>
                <input name=bWriter type="text" value="admin"  class="form-control" id="bWriter">
<!--                <input name="bTitle" type="text" th:value="${session.user.uNickname}" class="form-control" id="formGroupExampleInput2">-->
            </div>

            <div class="m-3 py-3">
                <label for="bContent" class="form-label fw-semibold">설명</label>
                <input name="bContent" th:value="${boardView.bContent}" type="text" class="form-control" id="bContent" placeholder="내용을 입력해주세요.">
            </div>

            <button class="btn btn-outline-secondary d-inline-flex align-items-center" onclick="fn_submit()" type="submit">
                수정
            </button>

            <input type="hidden" th:value="${boardView.boardId}" name="boardId">
        </form>
    </div>

    <!--footer-->
    <div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    // bCategory 값에 따라 inquiryCategory의 활성화 여부를 설정
    const bCategoryRadios = document.getElementsByName("bCategory");
    const addCheckBox = document.getElementById("addCheckBox");

    function toggleInquiryCategory() {
        if (this.value === "문의") {
            addCheckBox.style.display = "block";
        } else {
            addCheckBox.style.display = "none";
        }
    }

    // bCategory 라디오 버튼들에 이벤트 리스너를 추가
    bCategoryRadios.forEach((radio) => {
        radio.addEventListener("change", toggleInquiryCategory);
    });

    function fn_submit(){
        console.log("boardModify start")
        var formData = $("#frm").serialize();
        $.ajax({
            url: "/home/boardModify",
            type: 'POST',
            data: formData,
            success: function (response){
                console.log(response.message);
                if(response.message === "gongadmin"){
                    location.href="/home/userBoardList";
                }else if(response.message === "monadmin"){
                    location.href="/home/userQnAList";
                }else{
                    location.href="/home/userQnAList";
                }
                alert("게시글 등록이 완료되었습니다.");
            },
            error: function (xhr, status, error){
                alert("에러 발생: "+ error);
            }
        });
    }


</script>