<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <!--header-->
  <div th:replace="fragments/header.html :: fragment-header"></div>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">

    <div class="card card-cover h-100 rounded-4 shadow-lg border-0 ">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
        <ul class="d-flex list-unstyled mt-auto">
          <li>
            <div class="product">
                <img alt="상품 이미지" src="/img/697a0092d8aaba7291c7a1bc59f349d4.jpg" width="120rem" height="120rem">
            </div>
          </li>
          <li>
            <div class="product_detail px-5">
              <strong class="productId">producId</strong>
              <p class="model_title">productInfo</p>
              <p class="model_ko">productName</p>
            </div>
          <li>
        </ul>
      </div>
    </div>

    <div class="py-2"></div>

    <div class="card card-cover h-100 rounded-4 shadow-lg border-0">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
        <div class="row">
          <div class="col my-3">
            <h3 class="fw-bold">배송주소</h3>
          </div>
          <div class="col-md-2">
            <a href="#" class="add_more_btn d-flex justify-content-end">+ 새 주소 추가</a>
          </div>
        </div>
        <div class="row">
          <div class="col list-unstyled my-2">
            <li>
              <div>받는 분&nbsp&nbsp&nbsp&nbsp
              <span>사용자이름</span>
              </div>
            </li>
            <li class="my-2">
              <div>연락처&nbsp&nbsp&nbsp&nbsp
                <span>010-1***-*234</span>
              </div>
            </li>
            <li class="my-2">
              <div>배송주소&nbsp&nbsp&nbsp&nbsp
                <span>부산 부산진구 중앙대로 어쩌고 저쩌고</span>
              </div>
            </li>
          </div>
          <div class="col-md-2 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-secondary w-50 h-50 btn-sm">주소변경</button>
          </div>
        </div>
        <div class="row">
          <div class="COL button_shipping_memo_wrap py-4">
            <select class="form-select form-select-lg" aria-label="Default select example">
              <option selected >배송시 요청사항을 선택하세요.</option>
              <option value="1"><b>요청사항없음</b></option>
              <option value="2">문 앞에 놓아주세요</option>
              <option value="3">경비실에 맡겨주세요</option>
              <option value="3">파손 위험 상품입니다. 배송 시 주의해주세요.</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="py-2"></div>

    <div class="card card-cover h-100 rounded-4 shadow-lg border-0">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
        <div class="row">
          <div class="col">
            <h3 class="fw-bold">포인트</h3>
          </div>
          <div class="input-group mb-3" style="height: 4rem">
            <input type="text" class="form-control" placeholder="0" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary pl-5" type="button" id="button-addon2">모두사용</button>
          </div>
        </div>
        <div class="row">
          <div class="col info-box">
           <dt class="fw-light">보유포인트 <span>P</span></dt>
          </div>
        </div>
      </div>
    </div>

    <div class="py-2"></div>

    <div class="card card-cover h-100 rounded-4 shadow-lg border-0">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
        <div class="row">
            <div class="col">
            <h3 class="fw-bold">최소 주문 정보</h3>
        </div>
        <div class="row">
            <div class="col">
              <div>총 결제금액</div>
            </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-end">
            <h2 class="text-danger">144,000원</h2>
          </div>
          <div class="border-bottom py-3"></div>
        </div>
          <div class="row">
            <div class="col my-3">
              <div class="d-flex my-2">즉시구매가</div>
              <div class="d-flex my-2">포인트</div>
              <div class="d-flex my-2">검수비</div>
              <div class="d-flex my-2">수수료</div>
              <div class="d-flex my-2">배송비</div>
            </div>
            <div class="col my-3">
              <div class="d-flex justify-content-end my-2">144,000원</div>
              <div class="d-flex justify-content-end my-2">-</div>
              <div class="d-flex justify-content-end my-2">무료</div>
              <div class="d-flex justify-content-end my-2">1,900원</div>
              <div class="d-flex justify-content-end my-2">3,000원</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="py-2"></div>

    <div class="card card-cover h-100 rounded-4 shadow-lg border-0">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
        <div class="row">
          <div class="col">
            <h3 class="fw-bold">결제방법</h3>
          </div>
          <div class="row py-2">
            <div class="col">
              <h5>계좌 간편결제</h5>
            </div>
            <div class="col">
              <a href="#" class="add_more_btn d-flex justify-content-end">+ 새 주소 추가</a>
            </div>
          </div>
          <div class="row py-2">
            <!--사용자계좌정보-->
              <div class="form-floating">
                <select class="form-select" id="floatingSelect" style="height: 5rem" aria-label="Floating label select example">
                  <option selected>12312323423412313</option>
                  <option value="1">12312323423412313</option>
                  <option value="2">12312323423412313</option>
                  <option value="3">12312323423412313</option>
                </select>
                <label for="floatingSelect" class="px-4">우리은행</label>
              </div>
            <div class="border-bottom py-3"></div>
          </div>
          <div class="row py-2">
            <div class="row py-2">
              <div class="col">
                <h5>일반 결제</h5>
              </div>
            </div>
            <div class="list-group list-group-checkable d-grid gap-2 border-0">
              <div class="row">
                <div class="col">
                  <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios1" value="" checked="">
                  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
                    신용카드
                  </label>
                </div>
                <div class="col">
                  <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios2" value="">
                  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios2">
                    네이버페이
                  </label>
                </div>
                <div class="col">
                  <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
                  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
                    카카오페이
                  </label>
                </div>
              </div>
            </div>
            <div class="row py-3">
              <div>체결 후 결제 정보 변경은 불가하며 분할 납부 변경은 카드사 문의 바랍니다. 단, 카드사별 정책에 따라 분할 납부 변경 시 수수료가 발생할 수 있습니다.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="py-2"></div>

    <div class="card card-cover h-100 rounded-4 shadow-lg border-0">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
        <div class="row">
          <ul class="list-group">
            <li class="list-group-item pb-5">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
              <label class="form-check-label" for="firstRadio">
                <h5 class="font-weight-bolder">판매자의 판매거부, 배송지연, 미입고 등의 사유가 발생할 경우, 거래가 취소될 수 있습니다.</h5></label>
              <span class="d-block small opacity-50">앱 알림 해제, 알림톡 차단, 전화번호 변경 후 미등록 시에는 거래 진행 상태 알림을 받을 수 없습니다.</span>
            </li>
            <li class="list-group-item pb-5">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
              <label class="form-check-label" for="secondRadio">
                <h5 class="font-weight-bolder">‘바로 결제하기’ 를 선택하시면 즉시 결제가 진행되며, 단순 변심이나 실수에 따른 구매 결정 후 취소는 불가능합니다.</label>
              <span class="d-block small opacity-50">본 거래는 개인간 거래로 전자상거래법(제17조)에 따른 청약철회(환불, 교환) 규정이 적용되지 않습니다. 단, 조작 실수 등을 고려하여 계정당 하루 1회 구매를 거부할 수 있습니다.</p></span>
            </li>
            <li class="list-group-item pb-5">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio"><h3 class="font-weight-bolder">구매 조건을 모두 확인하였으며, 거래 진행에 동의합니다.</h3></label>
            </li>
          </ul>
        </div>
        <div class="py-3"></div>
        <div class="row">
          <div class="col">
            <h3>총결제금액</h3>
          </div>
          <div class="col">
            <h2 class="add_more_btn d-flex justify-content-end text-danger">144,000</h2>
          </div>
        </div>
        <div class="d-grid py-5">
          <button class="btn btn-primary" style="height: 4rem" type="button">결제하기</button>
        </div>
      </div>
    </div>


  </div>
<!--footer-->
<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>